/* * {
    border: 1px solid red;
} */

body { 
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.header {
    background: #ffffff;
    color: #000000;
    padding-top: 10px;
}

.header_menu {
margin-top: 38px;
}

.header__menuItem {
    margin: 0 50px;
}

.header__menuItem a {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
} */

.baner__photo {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 110px;    
}

.baner__title {
    position: absolute;
    width: 589px;
    height: 42px;
    left: 150px;
    top: 268px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.baner__description {
    position: absolute;
    width: 560px;
    height: 64px;
    left: 150px;
    top: 327px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.baner__button_download {
    position: absolute;
    width: 127px;
    height: 33px;
    left: 292px;
    top: 432px;
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0);
}

.baner__button_text1 {
    position: absolute;
    width: 127px;
    height: 33px;
    left: 188px;
    top: 432px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.baner__button_text2 {
    position: absolute;
    width: 127px;
    height: 33px;
    left: 338px;
    top: 432px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.baner__button_price {
    position: absolute;
    width: 127px;
    height: 33px;
    left: 150px;
    top: 432px;
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0);
}

.baner__button_price:hover {
    background: #786b59;  
    color: #ffffff; 
}

.baner__button_download:hover {
    background: #786b59; 
    color: #ffffff; 
}

.sale { 
    background: #ffffff;
}
.sale__container {
    position: absolute;
    width: 1440px;
    height: 63px;
    left: 0px;
    top: 0px;    
}

.error__title {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 149.99px;
    top: 628.96px;
}

.sale__description {
    position: absolute;
    width: 560px;
    height: 62px;
    left: 183px;
    top: 610px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FF7A00;
}

.sale__text_button {
    position: absolute;
    width: 134px;
    height: 14px;
    left: 1136px;
    top: 634px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sale__description_button {
    position: absolute;
    width: 173px;
    height: 33px;
    left: 1117px;
    top: 625px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
}

hr {
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 673px;
    border: 1px solid rgb(0, 0, 0);
}

.news {
    background: #ffffff;
    font-family: Roboto;

}

.news__title {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    padding: 15px

}

.news__block {
    border: 1px solid #000000;
    border-radius: 4px;
}

.news__blockTitle {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin: 26px
}

.news__blockDescription {
    color: #000000;
    font-size: 14px;
    margin: 26px;
}

.news__blockData {
    color: #959EA6;
    font-size: 14px;
    margin: 26px;
}

.news__textLook {
    font-size: 12px;
    color: #6c6c6c;
    text-align: center;
    padding: 38px;
}

.projects {
    background: #EDEDED;
    font-family: Roboto;
}

.projects__post {
    margin: 10px 0px;
}

.projects__img {
    max-width: 100%;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.projects__blockContent {
    background: #ffffff;
    font-size: 10px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.projects__blockUser {
    display: flex;
    border-bottom: 1px solid #EDEDED;
}

.projects__blockAvatar {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.projects__blockName {
    font-size: 10px;
    margin-top: 9px;
}

.projects__blockJob {
    color: #9b9b9b;
    font-size: 7px;
}

.projects__blockDate {
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.projects__blockTime {
    color: #CDCDCD;
}

.projects__blockLike {
    color: #CDCDCD;
    display: flex;
    align-items: center;
}

.projects__blockHeart {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.projects__blockLikeCount {
    font-size: 10px;
    color: #CDCDCD;
}

.projects__textLook {
    font-size: 12px;
    color: #6c6c6c;
    text-align: center;
    padding: 14px;
}
